#cache
*__pycache__/
env/
.rasa/
.vs/

#rasa bloat
credentials.yml
tests/

models/ds-model/deepspeech*

debug-and-drafts/res-speech/*.*

samples/*.*
ras-speech/*.*

debug-and-drafts/web_microphone_websocket
sample-audio-binary*/*.*