#cache
__local__/
blackbox
.vscode
*__pycache__/
env/
.rasa/
.vs/
.venv/
.idea/

#rasa bloat
credentials.yml
tests/

models/ds-model/deepspeech*

debug-and-drafts/res-speech/*.*

samples/
res-speech/*.*
# models/ds-model/*.zip


debug-and-drafts/web_microphone_websocket
sample-audio-binary*/*.*
.fake
DeepSpeech
tmp
*.log
*.txt
*.zip